body {
	margin-bottom: 20px;	
}

.navbar-brand, .jumbotron h1, h2.panel-title {
	font-family: 'Lily Script One', cursive;
}

.navbar-brand {
	padding: 15px 15px;
	font-size: 24px;
	line-height: 26px;
}

h2.panel-title {
	padding: 5px 5px;
	font-size: 24px;
	line-height: 26px;
}

#content {
	margin:auto;
}

#content ul, #content li {
	display: inline;
}

.panel-body h4  {
	margin-left:10px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.panel-body ol  {
	list-style: decimal;
	margin-left: 40px;
}

.panel-body li  {
	margin-bottom: 15px;
}

.thumbnail .caption {
	padding-right:0;
	padding-left:0;
}

.caption p {
	margin-bottom: 0px;
	padding-left:2px;
	padding-right:2px;
}

.caption ul, .caption li {
	margin-bottom: 0;
	padding-left:2px;
	padding-right:2px;
}

.caption-spacer hr {
	border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 9px 0;
}

#tagFilter {
	text-align: center;
	margin: 10px auto;
}

#tagFilter ul, #tagFilter li {
	display:inline-block;
}

#tagFilter ul li {
	margin-top:5px;
	margin-bottom:5px;
}

.thumbnail {
	width:200px;
	margin:10px;
	background-color: #aaa;
	border-color: #aaa;
	-webkit-box-shadow:  1px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow:  1px 2px 5px 0px rgba(0, 0, 0, 1);
}

.thumbnail .btn-default {
	background-color: #093a40;
	color: #eee;
	border-color: #093a40;
}

.thumbnail .btn-default:hover, 
.thumbnail .btn-default:focus, 
.thumbnail .btn-default:active, 
.thumbnail .btn-default.active {
	background-color: #0d525b;
	border-color: #0d525b;
}

.glyphicon {
	font-size: 24px;
}

.btn-toolbar {
	position:absolute;
	visibility: hidden;
	left:25px;
	top:50px;
}

.thumbnail:hover .btn-toolbar {
	visibility: visible;
}

div.popover {
	width:300px;
}